<html>
    <head>
        <title>
              <%= locals.title%>
        </title>
    </head>
    <style>
        body{
            margin: 0px;
            padding: 0px;
            background-color: midnightblue;
        }
        h1{
            color: white;
        }
    </style>
    <body>
        <h1>Input contacts!!</h1>
    </body>
</html>